.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  max-width: 220px;
  font-weight: 900;
  line-height: 1.21;
  font-size: 24px;
  font-family: "Inter", Arial, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/inactive-like.svg) center no-repeat;
  height: 18px;
  width: 21px;
  border-style: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.card__like-button_active {
  background-image: url(../images/active-like.svg);
}
.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__delete-button {
  background: transparent url(../images/trash.svg) center no-repeat;
  border: none;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 18px;
  right: 15px;
  transition: transform 0.3s ease;
}

.card__delete-button:hover {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
