.footer {
  width: 100%;
  max-width: 550px;
}

.footer__copyright {
  font-family: "Inter", Arial, Sans-Serif;
  font-weight: 400px;
  font-size: 18px;
  color: #545454;
  line-height: 1.21;
  padding-top: 60px;
  padding-bottom: 60px;
}
