.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  color: #000;
  padding: 0 19px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal__container {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 34px 36px;
  border-radius: 10px;
}

.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url(../images/close-icon1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
}

.modal__heading {
  font-family: "Inter", Arial, Sans-Serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 54px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  max-width: 430px;
}

.modal__input {
  margin: 0 0 29px 0;
  border-style: none;
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
  font-weight: 400;
  color: #000;
}

.modal__input:last-of-type {
  margin-bottom: 48px;
}

.modal__button {
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Inter", Arial, Sans-Serif;
  text-align: center;
  height: 50.15px;
  border-style: none;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.modal__button:hover {
  opacity: 0.8;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}
.modal__image-label {
  position: absolute;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  bottom: -33px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
}

.modal__container-image {
  background: transparent;
}

@media screen and (max-width: 630px) {
  .modal__form {
    width: 238px;
  }

  .modal__heading {
    font-size: 18px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 20px);
    left: calc(100% - 28px);
  }
  .modal__container {
    max-width: 282px;
    top: 123px;
    padding: 25px 22px;
  }

  .modal__input {
    font-size: 14px;
    font-weight: 400;
  }

  .modal__button {
    width: 100%;
    font-size: 14px;
    text-align: center;
  }

  .modal__image {
    max-width: 282px;
  }

  .modal__image-label {
    margin: 0;
  }
  .modal__container-image {
    padding: 0px;
    width: 240px;
    display: flex;
  }
}
