.profile {
  display: flex;
  align-items: center;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__edit-button {
  background: transparent url(../images/Edit-Button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border-style: solid;
}

.profile__add-button {
  background: transparent url(../images/add-button2.svg) center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: auto;
}

.profile__title {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  grid-area: title;
  margin: 0;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

@media screen and (max-width: 780px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__title {
    text-align: center;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    width: 100%;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin: 0 0 2px 5px;
  }
}
